* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #E5E5E5;
    padding-top: 46px;
}

.header {
 background-color: #0050B3; 
 padding-top: 6px;  
 padding-bottom: 6px;
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 z-index: 99;
}

.header-block {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m-menu {
    border: none;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 7px;
    display: none;
}

.m-menu .line {
    width: 100%;
    height: 2px;
    background: #fff;
}

.search-input {
    font-size: 14px;
    line-height: 22px;
    padding: 5px 30px 5px 12px;
    width: 336px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    background-image: url(/image/search-icon.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-panel {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

.navigation-link {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-left: 12px;
}

.navigation-link::before {
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}

.navigation-link:last-child::after {
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-left: 12px;
}

.user {
    display: flex;
    align-items: center;
}

.user-avatar {
    margin-right: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.user-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.icons-panel {
    display: flex;
    align-items: center;
}

.icon-link {
    display: flex;
    align-items: center;
    margin-left: 17px;
    position: relative;
}

.notification {
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #F5222D;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 16px;
    color: white;
    font-weight: normal;
    font-size: 12px;
    top: -8px;
    right: -9px;
}

.header-icon {
    fill: #002766;
}

.header-icon:hover {
    fill: #FFFFFF;
}

.icon-link:nth-child(4)::before {
    content: "";
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}
.icon-link:last-child {
    margin-left: 8px;
}

.container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu-sidebar {
    width: 192px;
    margin-top: 18px;
    margin-right: 12px;
}

.menu-sidebar .user {
    padding-left: 10px;
}

.menu-sidebar .user-avatar {
    width: 24px;
    height: 24px;
}

.menu-sidebar .user-name {
    color: #262626;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
}

.nav-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.nav-link {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    text-decoration: none;
    color: #595959;
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
}

.nav-link.active {
    background: #FFFFFF;
    color: #262626;
    font-weight: bold;
}

.drop {
    margin-left: 6px;
}

.nav-text {
    margin-left: 8px;
}

.nav-text-drop {
    color: #1890FF;
    margin-left: 12px;
}

.nav-link.drop {
    padding-top: 12px;
}

.nav-title {
    padding-left: 10px;
    color: #262626;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 0;
}

.main-feed {
    max-width: 588px;
    margin-top: 18px;
    flex-grow: 1;
}

.create-post {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}

.create-post-header {
    background: #F5F5F5;
    padding: 9px 16px;
}

.create-post-title {
    margin: 0;
    color: #595959;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}

.create-post-body {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    display: flex;
    align-items: flex-start;
}

.create-post-input {
    padding-top: 8px;
    width: 100%;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    border: none;
    color: #8C8C8C;
    font-size: 16px;
    line-height: 24px;
}

[contenteditable="true"]:empty:not(:focus)::before{
    content: attr(data-text);
    color: #8C8C8C;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
}

.create-post-footer {
    display: flex;
    align-items: center;
    padding: 0 16px 16px 16px;
    flex-wrap: wrap;
}

.create-post-footer::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    margin-bottom: 16px;
}

.tag {
   background: #F5F5F5;
    border-radius: 48px; 
    border: none;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}

.tag-icon {
    margin-right: 8px;
}

.tag-icon:last-child {
    margin-left: 10px;
}

.post {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.post-header-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.post-header .user-avatar {
    width: 48px;
    height: 48px;
    margin-right: 12px;
}

.post-info {
    display: flex;
    flex-wrap: wrap;
}

.post-author {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    font-weight: 600;
    text-decoration: none;
}

.post-time {
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}

.post-time::after {
    display: inline-block;
    content: '';
    width: 4px;
    height: 4px;
    background: #BFBFBF;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
    vertical-align: middle;
}

.post-info-time {
    display: flex;
    align-items: center;
}

.post-text, 
.bd-text {
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    font-weight: normal;
    margin-bottom: 16px;
}

.bd-text a {
    color: #0050B3;
    text-decoration: none;
    font-weight: 600;
}
.post-text a {
    color: #096dd9;
    text-decoration: none;
}

.post-image {
    border: 1px solid #BFBFBF;
    border-radius: 4px;
    max-width: 100%;
}

.likes {
    margin-top: 9px;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.likes-counter {
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    font-weight: normal;
    margin-left: 4px;
}

.post-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-button-text {
    color: #595959;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    margin-left: 8px;
}

.post-button-icon {
    fill: #595959;
}

.post-footer::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    margin-bottom: 16px;
}

.right-sidebar {
    width: 384px;
}

.stories, 
.birthday {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 16px;
    padding: 16px;
    padding-left: 24px;
    margin-left: 24px;
}

.stories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.stories-title {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #262626;
    font-weight: 600;
}

.stories-buttons {
    display: flex;
    align-items: center;
}

.story-button-link {
    color: #0050B3;
    line-height: 22px;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
}

.story-button-link:first-child::after {
    content: '';
    width: 4px;
    height: 4px;
    background: #BFBFBF;
    border-radius: 50%;
    display: inline-block;
    margin: 0 8px;
    vertical-align: middle;
}

.stories-icon {
    vertical-align: sub;
}

.story-item, 
.story-item-add {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 16px;
}

.story-image {
    background: #F5F5F5;
    border: 1px solid #D9D9D9;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    flex-shrink: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 12px;
}

.story-title,
.yp-content-title {
    color: #0050B3;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    width: 100%;
    display: block;
}

.story-text,
.yp-content-text {
    color: #8C8C8C;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    width: 100%;
    word-wrap: break-word;
    display: flex;
}

.figma {
    background-image: url(../image/figma.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.concuria {
    background-image: url(../image/concuria.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ant {
    background-image: url(../image/ant.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.story-image-active {
    border: 3px solid #1890FF;
}

.stories-text-drop {
    color: #0050B3;
    margin-left: 12px;
    font-size: 14px;
    line-height: 22px;
}

.stories-link-drop {
    text-decoration: none;
    margin-left: 10px;
}

.bd {
    display: flex;
    align-items: center;
    margin-top: -16px;
    margin-bottom: -16px;
}

.your-page {
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 16px;
    padding: 16px;
    padding-left: 24px;
    margin-left: 24px;
}

.your-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.your-page-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.your-page-title {
    color: #595959;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    margin: 0;
}

.your-page-content {
    display: flex;
    align-items: center;
    padding: 0 16px 16px 16px;
    flex-wrap: wrap;
}

.your-page-content::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
    margin-bottom: 16px;
}

.your-page-content::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E8E8E8;
}

.your-page-item {
    text-decoration: none;
    margin-bottom: 4px;
    margin-top: -65px;
}

.yp-link {
    padding: 0 8px 4px 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: -12px;
}

.yp-icon {
    margin-right: 5px;
}

.yp-content-count {
    background: #F5F5F5;
    border: 1px solid #D9D9D9;
    width: 17px;
    height: 22px;
    border-radius: 4px;
    flex-shrink: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #595959;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-right: 12px;
}

.yp {
    background-image: url(../image/avatar.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.your-page-buttons {
    display: flex;
    flex-wrap: wrap;
}

.yp-button-active {
    color: #1890FF;
    font-size: 16px;
    line-height: 24px;
    background: #FFFFFF;
    border: 1px solid #1890FF;
    padding: 8px 16px;
    width: 100px;
}

.yp-button {
    color: #595959;
    font-size: 16px;
    line-height: 24px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    padding: 8px 16px;
    width: 100px;
}

.yp-button-count {
    margin-top: 16px;
}

.yp-button-active-title {
    color: #262626;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.yp-button-active-text {
    color: #8C8C8C;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 63px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    font-size: 14px;
    line-height: 22px;
    margin-left: -30px;
    bottom: 22px;
    right: -16px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

   .arrow {
    position: fixed;
	padding: 12px 12px;
	position: absolute;
	background: white;
    border-radius: 4px;   
    margin-top: -230px;
    left: 810px;
    bottom: 0px;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
    display: none;
}

.arrow.active {
    display: flex;
}

.arrow:before {
	content: ""; 
	border: solid transparent;
	position: absolute; 
 	top: 100%;
	left: 16px;
	border-top-color: white;
	border-width: 9px;
	margin-left: -1px;
} 

.arrow-ul {
    list-style-type: none;
    padding-left: 12px;
    padding-right: 12px;

}
li {
    padding-bottom: 5px;
    cursor: pointer;
}



@media (max-width: 1250px) {
    .container {
        justify-content: flex-start;
        width: 95%;
    }
    .header-block {
        width: 95%;
    }
    .right-sidebar {
        display: none;
    }
    .arrow.active {
        left: 550px;
        bottom: -10px;
    }
    .arrow:before {
        left: 80%;
    } 
}

@media (max-width: 960px) {
    .header .user, .navigation-panel {
        display: none;
    }
    .arrow:before {
        left: 70%;
    }
}

@media (max-width: 840px) {
    .menu-sidebar {
        position: fixed;
        left: 0;
        top: 25px;
        width: 100%;
        max-width: 250px;
        padding-top: 12px;
        height: 100%;
        padding-left: 2%;
        background-color: #f1f1f1;
        transform: translateX(-100%);
        transition: transform 0.2s;
    }
    .menu-sidebar.active {
        transform: translateX(0%);
    }
    .m-menu {
        display: flex;
        cursor: pointer;
    }
    .arrow.active {
        left: 350px;
        bottom: -10px;
    }
}

@media (max-width: 760px) {
    .search {
        display: none;
    }
}

@media (max-width: 585px) {
    .tag {
        font-size: 10px;
    }
    .arrow.active {
        left: 300px;
        bottom: 10px;
    }
}

@media (max-width: 487px) {
    .button-text {
        display: none;
    }
    
    .create-post-footer {
      justify-content: space-between;
    }

    .arrow.active {
        left: 90px;
        bottom: 100px;
    }

    .arrow:before {
        left: 80%;
    } 
}